#container{
	background-color: white;
	color: #2289F0;
	padding: 15px;
	margin: 100px auto 0px;
	width: 600px;
	text-align: center;
	/* 字体，没有设置这一项 */
	box-shadow: 10px 10px 15px black;
}
hr{
	width: 80%;
	border: #2289F0 1px solid;
	margin-bottom: 15px;
}
body{
	/* 设置页面背景为浅灰色 */
	background-color: #cccccc;
}
input{
	width: 180px;
	height: 20px;
	margin: 5px;
	font-size: 16px;
	/* 字体，不设置 */
}
button{
	width: 120px;
	height: 40px;
	background-color: #2289F0;
	border: 0px;
	color: white;
	margin: 10px;
	font-size: 18px;
	/* 字体不设置 */
	font-weight: bold;
}
button:hover{
	background-color: #0068D0;
}